<!DOCTYPE html>
<html dir='rtl' lang='ar'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta content='' name='description'>
    <meta content='' name='author'>
    <title>مشاريع تدريب للطلاب</title>
    <link href='//fonts.googleapis.com/css?family=Josefin+Sans:400,700italic,700,600italic,600,400italic,300italic,300,100italic,100' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- Custom Theme files -->
    <!-- <link href="bundle.css" rel="stylesheet" type="text/css"-->
    <!-- <script src="bundle.js"></script>-->
    <script>
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <script>
      jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
          event.preventDefault();
          $('html,body').animate({scrollTop:$(this.hash).offset().top},900);
        });
      });
    </script>
  </head>
  <body>
    <!-- header.html-->
    <!-- content -->
    <!-- if current logged in user is a publisher then publisher_panel else if current logged in user is student then student_panel else nothing-->
    <!-- footer.html-->
  </body>
</html>
