<div class='footer-section'>
  <div class='container'>
    <div class='footer-grids'>
      <div class='col-md-3 footer-grid'>
        <h4>About</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      </div>
      <div class='col-md-3 footer-grid'>
        <h4>Property Types</h4>
        <ul>
          <li>Lorem Post With Image Format</li>
          <li>Example Video Blog Post</li>
          <li>Example Post With Gallery Post</li>
          <li>Example Video Blog Post</li>
          <li>Lorem Post With Image Format</li>
          <li>Example Video Blog Post</li>
        </ul>
      </div>
      <div class='col-md-3 footer-grid'>
        <h4>Useful links</h4>
        <ul>
          <li>
            <a href='index.html'>Home</a>
          </li>
          <li>
            <a href='about.html'>About</a>
          </li>
          <li>
            <a href='services.html'>Services</a>
          </li>
          <li>
            <a href='contact.html'>Contact</a>
          </li>
          <li>
            <a href='codes.html'>Codes</a>
          </li>
          <li>
            <a href='projects.html'>Projects</a>
          </li>
        </ul>
      </div>
      <div class='col-md-3 footer-grid'>
        <h4>Contacts</h4>
        <ul>
          <li><i aria-hidden='true' class='glyphicon glyphicon-earphone'></i>1 234 567 890
          </li>
          <li>
            <i aria-hidden='true' class='glyphicon glyphicon-envelope'></i>
            <a href='mailto:example@mail.com'>example@mail.com</a>
          </li>
          <li><i aria-hidden='true' class='glyphicon glyphicon-map-marker'></i>1398 W El Camino Real
          </li>
          <li><i aria-hidden='true' class='glyphicon glyphicon-time'></i>Mon-Sat 8:00 am to 8:00 pm
          </li>
        </ul>
      </div>
      <div class='clearfix'></div>
    </div>
  </div>
</div>
<!-- footer -->
<!-- copy -->
<div class='copy-section'>
  <div class='container'>
    <p>
      © 2016 Home Plat. All rights reserved | Design by
      <a href='http://w3layouts.com'>W3layouts</a>
    </p>
  </div>
</div>
<div class='modal fade' id='myModal' role='dialog' tabindex='-1'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content modal-info'>
      <div class='modal-header'>
        <button aria-label='Close' class='close' data-dismiss='modal' type='button'>
          <span aria-hidden='true'>×</span>
        </button>
      </div>
      <div class='modal-body real-spa' id='sign_in_modal'></div>
    </div>
  </div>
</div>
<div class='modal fade' id='myModal1' role='dialog' tabindex='-1'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content modal-info'>
      <div class='modal-header'>
        <button aria-label='Close' class='close' data-dismiss='modal' type='button'>
          <span aria-hidden='true'>×</span>
        </button>
      </div>
      <div class='modal-body real-spa' id='sign_up_modal'></div>
    </div>
  </div>
</div>
<div class='modal fade' id='is_stud_modal' role='dialog' tabindex='-1'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content modal-info'>
      <div class='modal-header'>
        <button aria-label='Close' class='close' data-dismiss='modal' type='button'>
          <span aria-hidden='true'>×</span>
        </button>
      </div>
      <div class='modal-body real-spa'>
        <div class='login-grids'>
          <div class='login'>
            <div class='login-right'>
              <h3>هل أنت طالب ؟</h3>
              <br/>
                <input name="isstud" type="radio" value="true"/>
              <br/>
                <input name="isstud" type="radio" value="false"/>
              <br/>
              <button class='btn btn-default' data-dismiss='modal' type='button'>موافق</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
