<div class='featured-w3l'>
  <div class='container'>
    <h3 class='tittle1'>لوحة تحكم الطالب</h3>
    <div class='feature-grids'>
      <div class='col-md-6 fer-grid'>
        <div class='icons'>
          <a href="#pathtocurrentpublisherpage"><i class="glyphicon glyphicon-globe" aria-hidden="true"></i></a>
        </div>
        <h4>الحساب الشخصي</h4>
        <p>لاستعراض الملف الشخصي والتعديل عليه</p>
      </div>
      <div class='col-md-6 fer-grid'>
        <div class='icons'>
          <a href="#pathtocreatenewproject"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
        </div>
        <h4>إنشاء مشروع</h4>
        <p>ﻹنشاء مشروعٍ جديد</p>
      </div>
      <div class='clearfix'></div>
    </div>
    <div class='feature-grids'>
      <div class='col-md-6 fer-grid'>
        <div class='icons'>
          <a href="#pathtobrowseprojects"><i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i></a>
        </div>
        <h4>استعراض المشاريع</h4>
        <p>لاستعراض جميع المشاريع</p>
      </div>
      <div class='col-md-6 fer-grid'>
        <div class='icons'>
          <a href="#pathtobrowsemyprojects"><i class="glyphicon glyphicon-cog" aria-hidden="true"></i></a>
        </div>
        <h4>استعراض مشاريعي</h4>
        <p>استعراض مشاريعي الخاصة فقط</p>
      </div>
      <div class='clearfix'></div>
    </div>
  </div>
</div>
